
// Import Google Font
@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";

// helper
@import "./helper/variables";
// mixin
@import "./helper/mixin";

// base
@import "./base/reset";

//components
@import "./components/cart";
@import "./components/buttons";
@import "./components/quantity";
@import "./components/card";
@import "./components/homePage";

// layouts
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/products";
