#home {
    background-color: $color-purple-2;
    height: 100vh;
    .home-content{
        padding-top: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        .home-item {
            width: 40%;
            img {
                border-radius: 50%;
            }
    }
    
}
}